{% extends 'base.html.twig' %}

{% block title %}Add new cars{% endblock %}

{% block body %}

<div class="section_top_page">
  <div class="margins">
    <div class='form'>
        <h1>Adding a new model to the database</h1><br>
        {{ form(form_create) }}

    </div>
  </div>
</div>
    {% endblock %} 