.form {
  padding-top: 25px;
  padding-bottom: 35px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.form form #carros{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 1rem ;
}

.form form #carros div{
  /* width: 100rem; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.form form #carros div label{
  width: 13rem;
  align-items: center;
  /* margin-right: 5rem; */
}

.form form #carros div input{
  width: 50rem;
  height: 3rem;
  color: grey;
  font-size: 14px;
  padding: 5px 10px;
}

.form form #carros div textarea{
  width: 50rem;
  height: 15rem;
  color: grey;
  font-size: 14px;
  padding: 5px 10px;
}

.form form #carros div button{
  width: 8.4rem;
  height: 3rem;
  background-color:white;
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  /* font-weight: bold; */
  font-size: 18px;
  margin-left: 56rem;
  margin-top: 15px;
  /* padding: 5px 10px; */
}

.form form #carros div button:hover{
  width: 8.4rem;
  height: 3rem;
  background-color:rgb(229, 127, 44);
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  /* font-weight: bold; */
  font-size: 18px;
  margin-left: 56rem;
  margin-top: 15px;
  /* padding: 5px 10px; */
  cursor: pointer;
}


/* #carros_model{
  background-color: red;
} */





